body {
    margin: 0;
    overflow: hidden;
    display: grid;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
}

.wrapper {
    margin: 150px;
    background: red;
    width:350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background: rgb(86,130,231);
    background: linear-gradient(137deg, rgba(86,130,231,1) 25%, rgba(49,71,143,1) 94%);
    color: beige;
    border-radius:3%;
    padding: 35px;
    z-index: 2;
    overflow: hidden;
}

.nav a{
    cursor: pointer;
    margin-right: 10px;
    
}

.nav a:hover{
    border-bottom: 2px solid blue;
    border-radius: 10%;
}

.nav {
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.sign-in{
  transition-duration:0.5s; 
}
.sign-up {
  transition-duration:0.5s; 
  transform: translateX(-1500px);
}

.form-style {
    margin: 10px;
    margin-left: 0;
    display: flex;
    flex-direction: column;

}

.form-style input{
    background:Silver;
    border-radius:100px;
    border-left:10px solid Silver;
    border-right:10px solid Silver;

}

.form-style input:focus{
    background:gainsboro;
    border-color:gainsboro;
    border-radius:0px;
    outline:none;
}


/* input[type="checkbox"] {
    display: none;
  }
  .checkmark {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom:3px ;
    transition: background-color 0.3s, border-color 0.3s;
    margin-right: 10px;
    vertical-align: middle;
  }
  input[type="checkbox"]:checked + .checkmark {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }
  input[type="checkbox"]:checked + .checkmark:hover {
    background-color: #45a049;
  }
  .checkmark:hover {
    border-color: #4CAF50;
  }
  input[type="checkbox"]:checked + .checkmark::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    border-radius:100px;
    transform: rotate(45deg);
  } */
/* Скрываем стандартный чекбокс */
.switch {
    display: flex;
    flex-direction: row;
}
.switch input {
    display: none;
  }
  
  /* Стиль для "ползунка" переключателя */
  .switch .slider {
    position: relative;
    display: block;
    width: 25px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50px;
    transition: background-color 0.3s;
    cursor: pointer;
    top:5px;
    margin-right: 10px;
  }
  
  /* Стиль для круглой кнопки переключателя */
  .switch .slider::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 3px;
    transition: transform 0.3s;
  }
  
  /* Когда чекбокс выбран, меняем фон и перемещаем круг */
  .switch input:checked + .slider {
    background-color: rgba(49,71,143,1);
  }
  
  .switch input:checked + .slider::before {
    transform: translateX(9px);
  }
  
hr {
    color:#9e9e9e;
}

.form-style button {
    margin-bottom: 25px;
    margin-top:25px;
    width:100%;
    background:rgba(49,71,143,1);
    border-radius:100px;
    font-weight: 500;
}

.scroll-right {
  visibility: hidden;
  z-index: 3;
  opacity: 0;
  position: absolute;
  transform: translateY(500px);

}
.normal-position {

  z-index: 1;
  position: static;
  opacity: 1;
  transform: translateX(0px);
  transform: translateY(0px);
}
.scroll-left {
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  position: absolute;
  transform: translateY(-500px);
}

.btn-color-active {
  color:gainsboro;
}
.btn-color {
  color:beige;
}